<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="25.0.219"/>
<mapEntry key="MCP_MAPPINGS" value="stable_47-1.13.2"/>
<mapEntry key="MCP_VERSION" value="20190213.203750"/>
<mapEntry key="MC_VERSION" value="1.13.2"/>
<mapEntry key="MOD_CLASSES" value="sel%%/Users/stuartrickard/Development/ForgeWorkspace/atomicstrykers-minecraft-mods/SmoothEntityLights/bin/main:sel%%/Users/stuartrickard/Development/ForgeWorkspace/atomicstrykers-minecraft-mods/SmoothEntityLights/bin/main"/>
<mapEntry key="target" value="fmluserdevserver"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SmoothEntityLights"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/stuartrickard/Development/ForgeWorkspace/atomicstrykers-minecraft-mods/SmoothEntityLights/run"/>
</launchConfiguration>
